.login {
    margin: 40px auto;
    padding: 60px 63px 20px;
    width: 396px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.login-button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 190px;
    height: 38px;
    border-radius: 56px;
    background-color: #ffc81f;
    box-shadow: 5px 5px 10px rgba(255, 200, 31, .25);
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}

.login-to-register {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px;
}