.index-row {
    margin-top: 1rem;
}

.index-headline-carousel {
    background-color: #FFF;
    margin-right: .5rem;
    height: 320px;
}

.login-block {
    background-color: #FFF;
}

.index-content-list {
    margin-right: .5rem;
}

.hot-spot-list {
    background-color: #FFF;
}