.admin-sider-logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.admin-sider-icon {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 23px;
    margin-top: 16px;
    margin-bottom: 16px;
}