.headline-carousel-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 320px;
}

.headline-carousel-title {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 320px;
    line-height: 320px;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-slide h1 {
    color: black;
}